/* 
div {
    max-width: 550px;
    margin: 0 auto;
    background: #9799a7;
    border: 1px solid #9799a7;
    padding: 10px
}

img {
    
    background: #eaeaed;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 10px 10px 10px;
    padding: 4px;
       
} */

* {
    box-sizing: border-box;
}

.main {
    max-width: 600px;
    background-color: rgb(165, 153, 153);
    border: 1px solid rgb(211, 208, 208);
    padding: 50px;
    margin: 0 auto;
    max-height: 800px;
    position: relative;
}


.elem {
    position: absolute;


    right: 0px;
    bottom: 0px;
}